services:
  redis:
    image: redis
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - app

  db:
    image: mysql:latest
    container_name: mysql
    restart: always
    ports:
      - "3306:3306"
    volumes:
        - mysql-data:/var/lib/mysql
    environment:
        MYSQL_ROOT_PASSWORD: getzpassword
        MYSQL_DATABASE: getz
    networks:
      - app

volumes:
  redis-data:
  mysql-data:

networks:
  app:
    driver: bridge